# ===============================================
# Fichiers de Log et de Build
# ===============================================

# Fichiers de log générés par Log4j2 ou d'autres loggers
logs/
*.log
*.log.gz

# Dossier de build Maven
target/

# Fichiers générés par le wrapper Maven
.mvn/
mvnw
mvnw.cmd

# ===============================================
# Fichiers générés par les IDEs
# ===============================================

# IntelliJ IDEA
.idea/
*.iml

# Visual Studio Code
.vscode/

# Eclipse / STS
.classpath
.project
.settings/
.springBeans
.sts4-cache

# ===============================================
# Fichiers de configuration sensibles ou locaux
# ===============================================

# Fichier de configuration local spécifique à une machine.
# Il est préférable de commiter un fichier d'exemple à la place.
application-local.yml

# Fichiers d'environnement
.env

# ===============================================
# Fichiers système d'exploitation
# ===============================================
.DS_Store
Thumbs.db